/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$blue: #3f67a8;
$hover-blue: #39537a;
html{
 width: 100%;
 height: 100%;
 font-family: 'Roboto Condensed', sans-serif;
 }
body{
margin: 0;
padding: 0;

background-image: url(audibackground.jpg);
   background-position: cover;
   background-repeat: no-repeat;

}

  #header{
  display: flex;
  align-content: flex-start;
  padding-left: 1em;
  padding-bottom: .5em;
  background: $blue;
  color: whitesmoke;
  font-size: 1.3rem;
  display: flex;
  header > a{
  margin-left: auto;
  }
  a{
  color: whitesmoke !important;
   font-size: 1em !important;
  }
  }

  #vertical-menu{
    margin: 0;
    background: #566884;
    width: 08em;
    min-height: 100%;
   a{
     display: block;
     text-align: center;
     text-decoration: none;
     color: whitesmoke;
     font-size: 1.5rem;
     padding-top: .5em;
     padding-bottom: .5em;
     margin-bottom: .3em;
}
a:hover{
animation-name: mouse_over;
animation-duration: .2s;
animation-fill-mode: forwards;
}
}

.merge{
  display: flex;
  flex-direction: row;
  height: 100%;
}

#content{
  background: white;
  opacity: 0.85;
  border-radius: 3px;
  border: solid 1px grey;
  min-height: 100%;
  width: 100%;
  padding: 10px;
  a{
    text-decoration: none;
    color: #165287;
    a:hover{
      background: black;
      animation-name: mouse_over_2;
      animation-duration: .2s;
      animation-fill-mode: forwards;
    }
  }
}

// #content{
//   background: white;
//   opacity: 0.85;
//   border-radius: 15px;
//   border: solid 1px grey;
//
// }
// #notice{
// display: none;
// }
//
@keyframes mouse_over{
  0%{
    background: whitesmoke;
  }
  100%{
    text-decoration: underline;
    transform: scale(1.10);
    text-shadow: 2px 2px #242d3a;
    background: #5f7ba8;
  }
}
@keyframes mouse_over_2{
  0%{}
  100%{
    background: #165287;
    color: whitesmoke;
  }
}
.odd{
  background: #e1e3e8;
}
table{
  background: #b1bccc;
  border-radius: 15px;
  border: 1px solid black;
  padding: .2em;
  th{
    tr{
      td{font-weight: bold;}
    }

    padding: .2em;
  }
  td{
    padding: .2em;;
  }
}
.report{
  background: none;
  border: none;
}
.navbar-link{
  margin-left: auto;
  padding-right: 1em;
}
