<div class="header">
  <div>Home</div>
    <% if session[:user_id] %>
      <% @user = User.find(session[:user_id]) %>
      <div><%= @user.username %></div>
      <div><%= button_to 'Logout', logout_path, method: :delete %></div>
    <% end %>
</div>